.chat-container {
  height: 96vh !important;
}

.chat-box {
  background-image: url(../images/output-onlinepngtools.png);
}

.message {
  max-width: 75%;
  /* border-radius: 10px; */
  /* background-color: transparent !important; */
}

.sent {
  background-color: #dcf8c6;
  align-self: end;
  text-align: right;
}

.received {
  background-color: #fff;
  align-self: start;
  border: 1px solid #ddd;
  text-align: left;
}

.bg-input,
.bg-custom {
  background-color: #f1f2f6;
}

.time-stamp {
  font-size: 12px;
  margin-top: 4px;
  opacity: 0.9;
}

.sent .time-stamp {
  text-align: right;
}

.received .time-stamp {
  text-align: left;
}
