.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(242, 236, 236);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.about div a,.GitHub a{ 
    text-decoration: none;
    color:black;
}
.GitHub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Resume{
    background-color: white;
    width:700px;
    padding: 50px 80px;
    border:1px solid black;
    font-size: 14px;
}
h3 {
    color:rgb(128, 202, 231);
}
h1{
    font-size: 35px;
}

