
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.col{
    height: 500px;
    width: 900px;
    /* border: 4px solid; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: larger;
    border-radius: 8px;
}
.col div{
    padding: 10px;
}
.otpInputs{
    width: 80px !important;
}