 .nav-link{
    background-color: rgb(110, 169, 149);
    border-radius: 10px;
   
}


.registration_btn{
    background-color: rgb(110, 169, 149);
}
.registration_heading{
    color:rgb(110, 169, 149) ;
}

/* Default navbar height */
.custom-navbar {
    min-height: 100vh; /* Full height for larger screens */
}


@media (max-width: 768px) {
    .custom-navbar {
        min-height: 30vh !important; 

    }
    .custom-toggler{
        margin-left: 30px;
    }
}
/*login Nav*/
.login-nav{
    min-height: 10vh;
    background-color: rgb(110, 169, 149);
}