#div1{
    height: 250px;
    width: 600px;
    position:absolute;
    left: 30%;
    top:30%;
    border: 2px solid red;
    background: cyan;
    border-radius: 40px;
}

#div2{
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    background: #084076;
}
button{
    background: rgba(133, 224, 6, 0.751);
    border-radius: 20px;
    width: 300px;
}