body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    padding: 15px;
    margin-top: 50px;
    
}

#image{
    height: 300px;
    width: 300px;
    object-fit: fill;
}

#btnClick,#downloadImage{
    width: 50%;
    padding: 10px;
    margin: 5px;
    font-size: large;
}

#btnClick:hover{
    background-color: rgb(20, 20, 18);
    font-size: 18px;
    color: aliceblue;
}
#downloadImage:hover{
    background-color: rgb(20, 20, 18);
    font-size: 18px;
    color: aliceblue;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

}
    