*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: wheat; */
    

}
#main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    border: 2px solid wheat;
    background-image: url(./login_bg.jpg);
    background-repeat: repeat;
    background-size: cover;
}
#form{
    border: 2px solid;
    display: flex;
    height: 150px;
    align-items: center;
    font-size: 27px;
    padding: 60px;
    border-radius: 25px;
    background-image: url(./Background_image.jpg);
    background-repeat: repeat;
    background-size: cover;
    color: wheat;
}
#form label{
    padding: 6px;
}
#form input{
    float: right;
    height: 20px;
    width: 150px;
    padding: 2px;
    border-radius: 25px;
}
#form button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    background: hwb(324 22% 3%);
}