* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.google-logo img {
    width : 150px;
    height : 50px
}
.search-container {
    flex-grow:10;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
.search-box {
    width: 80%;
    padding: 6px 10px;
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.search-box input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
}
.search-icons i {
    color: gray;
    margin: 0 8px;
    cursor: pointer;
}
.sign-in-btn {
    background-color: #1a73e8;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
}


.nav-left {
    display: flex;
}

.nav-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.nav-tabs .nav-link {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    padding: 5px 10px;
}

.nav-tabs .nav-link.active {
    color: #1a73e8;
    font-weight: bold;
    border-bottom: 3px solid #1a73e8;
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-secondary {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.nav-secondary .nav-link,
.nav-third .nav-link {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    border: none;
}

.nav-third {
    list-style: none;
    margin: 0;
    padding: 0;
}

.keywords a {
    font-size: 25px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 4px;
    text-decoration: none;
    color: black;

}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.image-card img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-bottom: 2px solid #ddd;
}

.caption {
    font-size: 14px;
    font-weight: bold;
}

.photographer {
    font-size: 12px;
    color: #555;
    margin: 0px;
}

