*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(backgroundimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container{
    height: 90vh;
    margin: 50px 50px ;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
}
.cogie{
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 20px;
    left: 275px;
}
.welcome{
    font-family: "Playfair Display", serif;
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 70px;
    left: 200px; 
}

.des{
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 105px;
    left: 97px;
    margin-top: 0;
}
.left{
    width: 50%;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    background-image: url(tablet-login-concept-illustration_114360-7893.avif);
    background-position: left;
    background-repeat: no-repeat;
    
}

.right{
    width: 50%;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    height: 30%;
    position: relative;
    top: 160px;
    width: 50%;
    margin: auto;
    
}
label{
    text-align: left;
    font-size: 18px;
    border-radius: 2px;
}
input{
    
    text-align: left;
    padding: 10px;
    background-color: rgb(242, 239, 239);
    border-radius: 6px;
    border: none;
}

.checkbox{
    text-align: left;

    display: inline;
}
button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

i{
    height: 0px;
    margin: 5px 5px; 
}
.g-sign{
    background-color: black;
    color: aliceblue;
}
img{
    margin-right: 7px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
} 


.last-para{
    position: absolute;
    top: 95%;
    left: 30%;
}
.last-element{
    display: inline;
    /* border: 1px solid rgb(27, 25, 25); */
    display: flex;
    justify-content: space-between;
}

.quote{
    float: left;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    /* border: 1px solid black; */
}

hr{
    width: 90px;
    position: absolute;
    color: white;
    /* border: 1px solid black; */
    top: 40px;
    left: 150px
}
.main-quote{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 350px;
    color: white;
    /* border: 1px solid black; */

}
.qoute2{
    display: inline-block;
    color: white;
    /* border: 1px solid black; */
    position: absolute;
    bottom: 20px;
    left: 20px;
}